<!--<div class="app-content">-->
  <!--<div class="group">-->

    <!--<form role="form" (submisigninogin()"><br>-->
      <!--<md-input-container>-->
        <!--<input mdInput type="text" required [(ngModel)]="user.username" id="username" name="username" >-->
        <!--<md-placeholder>-->
          <!--<i class="material-icons app-input-icon">face</i>Username-->
        <!--</md-placeholder>-->
      <!--</md-input-container><br><br>-->
      <!--<md-input-container>-->
        <!--<input mdInput type="password" required [(ngModel)]="user.password" id="password" name="password" >-->
        <!--<md-placeholder >-->
          <!--<i class="material-icons app-input-icon">lock_open</i>Password-->
        <!--</md-placeholder>-->
      <!--</md-input-container><br><br>-->
      <!--<button md-raised-button color="warn" type="submit" name="action">LOGIN</button><br><br>-->
      <!--<span id="err"><small>{{errorMsg}}</small></span>-->
      <!--<md-slide-toggle color="primary"><small>Remember me!</small></md-slide-toggle>-->
    <!--</form >-->
  <!--</div>-->

  <div class="page-wrap">
    <div class="session-form-hold">
      <md-progress-bar aria-valuemax="100" aria-valuemin="0" class="session-progress mat-progress-bar mat-primary" mode="determinate" role="progressbar" aria-valuenow="0"><div class="mat-progress-bar-background mat-progress-bar-element"></div><div class="mat-progress-bar-buffer mat-progress-bar-element"></div><div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element" style="transform: scaleX(0);"></div><div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div></md-progress-bar>
      <md-card class="mat-card">
        <md-card-content class="mat-card-content">
          <div class="text-center pb-1">
            <p class="text-muted">Sign in to your account</p>
          </div>
          <form>
              <md-input-container class="full-width mat-input-container mat-input-invalid">
                <div class="mat-input-wrapper">
                    <div class="mat-input-infix">
                <input class="mat-input-element" type="text" mdInput [(ngModel)]="user.username" name="username"
                       placeholder="Username" required value="" id="username" aria-invalid="true">
              </div>
                </div>
              </md-input-container>
              <small class="form-error-msg" *ngIf="!user.username"> Username is required </small>

              <md-input-container class="full-width mat-input-container mat-input-invalid">
                <div class="mat-input-wrapper">
                    <div class="mat-input-infix">
                <input class="mat-input-element" type="password" mdInput [(ngModel)]="user.password" name="password"
                       placeholder="Password" required value="" id="password" aria-invalid="true">
                    </div>
                </div>
              </md-input-container>
              <small class="form-error-msg" *ngIf="!user.password"> Password is required </small>

            <div class="pb-1">
              <md-checkbox class="pb-1 mat-checkbox mat-accent" name="rememberMe">
                <label class="mat-checkbox-layout" for="input-md-checkbox-1">
                  <!--<div class="mat-checkbox-inner-container">-->
                    <input class="mat-checkbox-input cdk-visually-hidden" type="checkbox" id="input-md-checkbox-1"
                           value="undefined" name="rememberMe" tabindex="0" aria-label="">
                  <span class="mat-checkbox-label">
                    <span style="display:none">&nbsp;
                    </span>Remember this computer
                  </span>
                </label>
              </md-checkbox>
            </div>

            <button class="mat-primary full-width mb-1 mat-raised-button" md-raised-button="" disabled="">
              <span class="mat-button-wrapper">Sign in</span>
            </button>
            <div class="text-center" style="display: flex; box-sizing: border-box; flex-direction: row;
            -webkit-box-orient: horizontal; -webkit-box-direction: normal;">
              <a class="mat-primary text-center full-width">Forgot password</a>
              <span style="flex: 1 1 0; box-sizing: border-box; -webkit-box-flex: 1;"></span>
              <a class="mat-primary text-center full-width">Create a new account</a>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>


