<md-toolbar class="mat-elevation-z6">
  <img src="../../../../assets/images/rybak_brand.png" width="100" height="50" alt="">
  <span id="title" class="but-header-menu">{{ 'header.brand'| translate }}</span>

  <span class="fill-space"></span>
  <md-menu #language="mdMenu" xPosition="before">
    <!--<a class="dropdown-item" href="jvascript:void(0)" (click)="changeLang('ua')">Українська</a>-->
    <button md-menu-item class="but-header-menu" (click)="changeLang('ru')">{{ 'header.menu.russian'| translate }}</button>
    <button md-menu-item class="but-header-menu" (click)="changeLang('ua')">{{ 'header.menu.ukrainian'| translate }}</button>
  </md-menu>

  <button md-icon-button [md-menu-trigger-for]="language">
    <md-icon>g_translate</md-icon>
  </button>

  <md-menu #user="mdMenu" xPosition="before">
    <button md-menu-item routerLink="/signin" class="but-header-menu">{{ 'header.menu.signin'| translate }}&nbsp;&nbsp;&nbsp;&#8195;<md-icon>file_download</md-icon></button>
    <button md-menu-item routerLink="/signup" class="but-header-menu">{{ 'header.menu.signup'| translate }}</button>
    <button md-menu-item (click)="endUserSession()" class="but-header-menu">{{ 'header.menu.logout'| translate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<md-icon>file_upload</md-icon></button>
  </md-menu>
  <button md-icon-button [md-menu-trigger-for]="user">
    <md-icon>person</md-icon>
  </button>

  <md-menu #menu="mdMenu" xPosition="before">
    <button md-menu-item routerLink="/home" class="but-header-menu">{{ 'header.menu.home'| translate }}</button>
    <button md-menu-item routerLink="/map" class="but-header-menu">{{ 'header.menu.map'| translate }}</button>
  </md-menu>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
