<md-toolbar style="background-color: #607D8B; color: white">
  <span id="title">{{ 'header.brand'| translate }}</span>

  <!-- navigation menu should be on the far right of the toolbar -->
  <span class="fill-space"></span>
  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu #menu="mdMenu" x-position="before">
    <button md-menu-item routerLink="/home"> Home </button>
    <button md-menu-item routerLink="/map"> Map </button>
  </md-menu>
</md-toolbar>
<md-tab-group md-stretch-tabs class="md-primary" md-selected="data.selectedIndex" style="background-color: #607D8B; color: white">
  <md-tab label="Подводная охота" id="tab1" aria-controls="tab1-content">
  </md-tab>
  <md-tab label="Рыбалка" id="tab2" aria-controls="tab2-content">
  </md-tab>
</md-tab-group>
<!--<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">-->
  <!--<md-nav-item md-nav-click="goto('page1')" name="page1">Page One</md-nav-item>-->
  <!--<md-nav-item md-nav-click="goto('page2')" name="page2">Page Two</md-nav-item>-->
  <!--<md-nav-item md-nav-click="goto('page3')" name="page3">Page Three</md-nav-item>-->
  <!--&lt;!&ndash; these require actual routing with ui-router or ng-route, so they won't work in the demo-->
  <!--<md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>-->
  <!--<md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>-->
  <!--&ndash;&gt;-->
<!--</md-nav-bar>-->
