<div class="fishing-form">
  <md-card>
    <md-card-content>
      <form style="height: 100vh">
        <table style="width: 100%" cellspacing="0">
          <tr>
            <td>
              <md-form-field style="width: 80%">
                <input mdInput placeholder="Область" value="">{{fishingPage.province}}
              </md-form-field>
            </td>
            <td>
              <md-form-field style="width: 80%">
                <input mdInput placeholder="Район" value="">{{fishingPage.region}}
              </md-form-field>
            </td>
            <td>
              <md-form-field style="width: 80%">
                <input mdInput placeholder="Село" value="">{{fishingPage.hamlet}}
              </md-form-field>
            </td>
          </tr>
        </table>
        <br>
        <md-form-field class="example-full-width">
          <input mdInput [mdDatepicker]="picker" placeholder="Дата" [(ngModel)]="fishingPage.date" name="date">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker touchUi="true" #picker></md-datepicker>
        </md-form-field>
        <br>
        <md-form-field style="width: 100%">
          <textarea mdInput placeholder="Описание" value="" rows="6">{{fishingPage.comment}}</textarea>
        </md-form-field>
        <br>
        <div id="fish_list">
          <div #dynamicComponentContainerFish></div>
        </div>
        <div align="right">
          <a style="color: #7594a2" href="javascript:void(0)"><md-icon (click)="removeFish()">remove</md-icon></a>
          <a style="color: #7594a2" href="javascript:void(0)"><md-icon (click)="addFish()">add</md-icon></a>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
