button{
  background-color: #7f7f7f;
  color: white;
}
button .md-raised-button{
  height: 20px;
}

.story-padding{
  padding: 1px 20px 15px 20px;
}

.story-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}
