<div class="story-padding">
  <h4 mat-line>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="50%">
        <div style="padding-top: 20px">
          <mat-form-field class="owner-font" floatPlaceholder="never">
            <input matInput #filter placeholder="Найти статью">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex align="right">
        <mat-select class="owner-font" placeholder="На странице" matInput [(ngModel)]="pageAmount" (ngModelChange)="handlePageAmount(null)">
          <mat-option class="owner-font" *ngFor="let amount of storiesCounter" [value]="amount">
            {{ amount }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </h4>
  <div class="owner-font" *ngFor="let story of stories">
    <h4 mat-line>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50%">{{story.name}}</div>
        <div fxFlex align="right">{{story.author}}</div>
      </div>
    </h4>
    <div class="owner-text-space">
      {{story.text}}
    </div>
    <span><hr flex/></span>
    <div>
      <button class="owner-font" [routerLink]="['describe', story.id]" mat-raised-button>Дальше...</button>
    </div>
  </div>
  <div>
    <div #dynamicComponentContainerPagination></div>
  </div>
</div>
