md-card-header, md-card-content{
  font-family: story_font;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.story-padding{
  padding: 15px 10px 15px 20px;
}

button{
  font-family: story_font;
  background-color: #7f7f7f;
  color: white;
}
button .md-raised-button{
  height: 20px;
}
