<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <!--<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">We make website that are <span>awesome</span></h1>-->
        <p>{{typewriter_display }}</p>

        <div class="element">
          <div class="sub-elements">Женщина, которая никогда не видела своего мужа за ужением рыбы, не имеет понятия, за какого терпеливого человека она вышла замуж - Эдгар Хау</div>
          <div class="sub-element">Самая плохая рыбалка лучше самой хорошей работы.</div>
          <div class="sub-element">Рыболовы бывают двух видов: одни смотрят на это занятие как на спорт, другим удается что-то поймать.</div>
          <div class="sub-element">Пока не поймаешь настоящую рыбу, рыбалка скучна, а после этого — отвратительна - Дейв Барри</div>
          <div class="sub-element">Хороший клев бывает либо до того, как вы начали ловить, либо после этого.</div>
          <div class="sub-element">Самыми крупными из пойманных рыб всегда бывают те, что сорвались с крючка - Юджин Филд</div>
          <div class="sub-element">Одни рыболовы ловят рыбу, другие всю жизнь ее только подкармливают.</div>
          <div class="sub-element">Чем длиннее руки у рыболова, тем меньше веры его рассказам.</div>
          <div class="sub-element">Рыбалка — промежуточное звено между спортом и религией - Джозефин Тей
          </div>
        </div>
        <!--<a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>-->
      </div>
    </div>
  </div>
</section>
