<div class="fishing-list-container mat-elevation-z8">
  <div class="fishing-list-header">
    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Найти село/водоем">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthDateClass'" mat-sort-header (click)="handleTableParams()"> Дата </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'customWidthDateClass'"> {{row.date | date : 'dd.MM.yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthRegionClass'"> Район </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'customWidthRegionClass'"> {{row.region}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="hamlet">
      <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthHamletClass'"> Село/Водоем </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'customWidthHamletClass'"> {{row.hamlet}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef> Описание </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.comment}} </mat-cell>
    </ng-container>

    <!--&lt;!&ndash; Color Column &ndash;&gt;-->
    <!--<ng-container mdColumnDef="date">-->
      <!--<md-header-cell *mdHeaderCellDef> Дата </md-header-cell>-->
      <!--<md-cell *mdCellDef="let row"> {{row.date | date : 'dd.MM.yyyy'}} </md-cell>-->
    <!--</ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="selectRow(row)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                [length]="countFishingPages"
                [pageIndex]="0"
                [pageSize]="2"
                [pageSizeOptions]="[1, 2, 5, 10]"
                (page)="pageEvent = handleTableParams()">
  </mat-paginator>
</div>
