<div class="fishing-list-container mat-elevation-z8">
  <div class="fishing-list-header">
    <md-form-field floatPlaceholder="never">
      <input mdInput #filter placeholder="Найти село/водоем">
    </md-form-field>
  </div>

  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container mdColumnDef="date">
      <md-header-cell *mdHeaderCellDef [ngClass]="'customWidthDateClass'" md-sort-header (click)="handleTableParams()"> Дата </md-header-cell>
      <md-cell *mdCellDef="let row" [ngClass]="'customWidthDateClass'"> {{row.date | date : 'dd.MM.yyyy'}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="region">
      <md-header-cell *mdHeaderCellDef [ngClass]="'customWidthRegionClass'"> Район </md-header-cell>
      <md-cell *mdCellDef="let row" [ngClass]="'customWidthRegionClass'"> {{row.region}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="hamlet">
      <md-header-cell *mdHeaderCellDef [ngClass]="'customWidthHamletClass'"> Село/Водоем </md-header-cell>
      <md-cell *mdCellDef="let row" [ngClass]="'customWidthHamletClass'"> {{row.hamlet}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="comment">
      <md-header-cell *mdHeaderCellDef> Описание </md-header-cell>
      <md-cell *mdCellDef="let row "> {{row.comment}} </md-cell>
    </ng-container>

    <!--&lt;!&ndash; Color Column &ndash;&gt;-->
    <!--<ng-container mdColumnDef="date">-->
      <!--<md-header-cell *mdHeaderCellDef> Дата </md-header-cell>-->
      <!--<md-cell *mdCellDef="let row"> {{row.date | date : 'dd.MM.yyyy'}} </md-cell>-->
    <!--</ng-container>-->

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row ; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator #paginator
                [length]="countFishingPages"
                [pageIndex]="0"
                [pageSize]="2"
                [pageSizeOptions]="[1, 2, 5, 10]"
                (page)="pageEvent = handleTableParams()">
  </md-paginator>
</div>
