<table style="width: 100%" cellspacing="0">
  <tr>
    <td style="width: 20%">
      <mat-form-field class="fish-input">
        <mat-select class="fish-input" placeholder="{{ 'fishing_page.fish.name' | translate}}"
                    [(ngModel)]="fishes[amountFishes].name" name="fish">
          <mat-option *ngFor="let fish of fishes_name" [value]="fish">
            {{fish}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--<mat-select class="fish-input" placeholder="{{ 'fishing_page.fish.name' | translate}}" [(ngModel)]="fishes[amountFishes].name" name="fish">-->
      <!--<mat-option *ngFor="let fish of fishes_name" [value]="fish">-->
      <!--{{fish}}-->
      <!--</mat-option>-->
      <!--</mat-select>-->
    </td>
    <td style="width: 15%">
      <mat-form-field class="fish-input">
        <input matInput [(ngModel)]="fishes[amountFishes].weight"
               placeholder="{{ 'fishing_page.fish.weight' | translate}}" name="weight"
               (click)="enterNum(amountFishes, 'weight')">
      </mat-form-field>
    </td>
    <td style="width: 15%">
      <mat-form-field class="fish-input">
        <input matInput [(ngModel)]="fishes[amountFishes].distance"
               placeholder="{{ 'fishing_page.fish.distance' | translate}}" name="distance"
               (click)="enterNum(amountFishes, 'distance')">
      </mat-form-field>
    </td>
    <td style="width: 25%">
      <mat-form-field class="fish-input">
        <input matInput [(ngModel)]="fishes[amountFishes].bait" placeholder="{{ 'fishing_page.fish.bait' | translate}}"
               name="bait">
      </mat-form-field>
    </td>
    <td style="width: 25%">
      <mat-form-field class="fish-input">
        <input matInput [(ngModel)]="fishes[amountFishes].time" placeholder="{{ 'fishing_page.fish.time' | translate}}"
               name="time"
               (click)="enterNum(amountFishes, 'time')">
      </mat-form-field>
    </td>
  </tr>
</table>
