<mat-sidenav-container id="sidenav_id" (window:resize)="resizeWindowWithSidenav()">
  <mat-sidenav #sidenav class="user-statistics-sidenav" mode="side">
    <mat-nav-list>
      <a [routerLink]="['page']">
        <mat-icon style="color: #ebebeb">create</mat-icon>
      </a>
      <br>
      <br>
      <a [routerLink]="['fishing']">
        <mat-icon style="color: #ebebeb">list</mat-icon>
      </a>
      <br>
      <br>
      <a [routerLink]="['/map/fishing']">
        <mat-icon style="color: #ebebeb">language</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <div align="left" style="padding: 5px 5px">
      <a style="color: #7594a2" href="javascript:void(0)">
        <mat-icon (click)="clickSidenav(sidenav)" *ngIf="isClosedSidenav">toll</mat-icon>
        <mat-icon (click)="clickSidenav(sidenav)" *ngIf="!isClosedSidenav">fiber_smart_record</mat-icon>
      </a>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
