<!--<section class="user-statistics-container">-->
<!--<div>-->
<md-sidenav-container>
  <md-sidenav #sidenav class="user-statistics-sidenav">
    <a [routerLink]="['page']">
      <md-icon style="color: #ebebeb">content_paste</md-icon>
    </a>
    <br>
    <br>
    <a [routerLink]="['fishing']">
      <md-icon style="color: #ebebeb">list</md-icon>
    </a>
  </md-sidenav>

  <div>
    <div align="left" style="padding: 5px 5px">
      <a style="color: #7594a2" href="javascript:void(0)">
        <md-icon (click)="sidenav.open()">fiber_smart_record</md-icon>
      </a>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
<!--</div>-->
<!--</section>-->
