<table style="width: 100%" cellspacing="0"><tr>
  <!--<td style="width: 20%">-->
  <md-select class="fish-input" placeholder="Рыба" [(ngModel)]="fishes[amountFishes].name" name="fish">
    <md-option *ngFor="let fish of fishes_name" [value]="fish.value">
      {{fish.viewValue}}
    </md-option>
  </md-select>
  <!--</td>-->
  <td style="width: 15%">
    <md-form-field class="fish-input">
      <input mdInput [(ngModel)]="fishes[amountFishes].weight" placeholder="Вес" name="weight"
             (click)="enterNum(amountFishes, 'weight')">
    </md-form-field>
  </td>
  <td style="width: 15%">
    <md-form-field class="fish-input">
      <input mdInput [(ngModel)]="fishes[amountFishes].length" placeholder="Длина" name="length"
             (click)="enterNum(amountFishes, 'length')">
    </md-form-field>
  </td>
  <td style="width: 25%">
    <md-form-field class="fish-input">
      <input mdInput [(ngModel)]="fishes[amountFishes].bait" placeholder="Наживка" name="bait">
    </md-form-field>
  </td>
  <td style="width: 25%">
    <md-form-field class="fish-input">
      <input mdInput [(ngModel)]="fishes[amountFishes].time" placeholder="Время подхода" name="time"
             (click)="enterNum(amountFishes, 'time')">
    </md-form-field>
  </td>
</tr>
</table>
