.main-container{
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  /*display: flex;*/
}
@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 5px !important;
  }
}
