<div class="fishing-form">
  <!--<md-card>-->
    <div>
      <form style="height: 100vh">
        <div fxLayout="row" fxLayoutAlign="start center" class="content">
          <div fxFlex="25%">
            <mat-form-field>
            <mat-select style="width: 80%" placeholder="{{ 'fishing_page.country' | translate}}"
                       [(ngModel)]="fishingPage.country" name="country"
                       [disabled]="!availableCountries || !availableCountries.length"
                       (ngModelChange)="pickCountry($event)">
              <mat-option value="null"
                         disabled
                         selected
                         hidden>
                {{ 'fishing_page.country' | translate}}
              </mat-option>
              <mat-option *ngFor="let country of availableCountries" [value]="country.name">
                {{country.name}}
              </mat-option>
            </mat-select>
              </mat-form-field>
          </div>

          <div fxFlex="25%">
            <mat-form-field>
            <mat-select style="width: 80%" placeholder="{{ 'fishing_page.province' | translate}}"
                       [(ngModel)]="fishingPage.province" name="province"
                       [disabled]="!availableProvinces || !availableProvinces.length"
                       (ngModelChange)="pickProvince($event)">
              <mat-option value="null"
                         disabled
                         selected
                         hidden>
                {{ 'fishing_page.province' | translate}}
              </mat-option>
              <mat-option *ngFor="let province of availableProvinces" [value]="province.name">
                {{province.name}}
              </mat-option>
            </mat-select>
              </mat-form-field>
          </div>

          <div fxFlex="25%">
            <mat-form-field>
            <mat-select style="width: 80%" placeholder="{{ 'fishing_page.region' | translate}}"
                       [(ngModel)]="fishingPage.region" name="region"
                       [disabled]="!availableRegions || !availableRegions.length"
                       (ngModelChange)="pickRegion($event)">
              <mat-option value="null"
                         disabled
                         selected
                         hidden>
                {{ 'fishing_page.region' | translate}}
              </mat-option>
              <mat-option *ngFor="let region of availableRegions" [value]="region.name">
                {{region.name}}
              </mat-option>
            </mat-select>
              </mat-form-field>
          </div>

          <div fxFlex>
            <mat-form-field>
            <mat-select style="width: 80%" placeholder="{{ 'fishing_page.hamlet' | translate}}"
                       [(ngModel)]="fishingPage.hamlet" name="hamlet"
                       [disabled]="!availableHamlets || !availableHamlets.length"
                       (ngModelChange)="pickHamlet($event)">
              <mat-option value="null"
                         disabled
                         selected
                         hidden>
                {{ 'fishing_page.hamlet' | translate}}
              </mat-option>
              <mat-option *ngFor="let hamlet of availableHamlets" [value]="hamlet.name">
                {{hamlet.name}}
              </mat-option>
            </mat-select>
              </mat-form-field>
          </div>
        </div>
        <br>
        <div id="fish_list">
          <div #dynamicComponentContainerFish></div>
        </div>
        <div align="right">
          <!--<md-action-row>-->
          <a href="javascript:void(0)">
            <mat-icon style="color: #7594a2" (click)="addFish()">add</mat-icon>
            <!--<md-icon style="color: #7594a2" (click)="removeFish()">remove</md-icon>-->
          </a>
          <div></div>
            <!--<md-icon style="color: #7594a2" (click)="addFish()">add</md-icon>-->
          <!--<md-icon style="color: #7594a2" (click)="removeFish()">remove</md-icon>-->
          <!--</md-action-row>-->
          <!--<a style="color: #7594a2" href="javascript:void(0)">-->
            <!--<md-icon (click)="addFish()">add</md-icon>-->
          <!--</a>-->
          <a style="color: #7594a2" href="javascript:void(0)">
            <mat-icon (click)="removeFish()">remove</mat-icon>
          </a>
        </div>
        <mat-form-field style="width: 100%">
          <textarea matInput placeholder="{{ 'fishing_page.comment' | translate}}" value="" rows="6"
                    [(ngModel)]="fishingPage.comment" name="comment"></textarea>
        </mat-form-field>
        <br>
        <table style="width: 100%" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" placeholder="{{ 'fishing_page.date' | translate}}"
                       [(ngModel)]="fishingPage.date" name="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <div align="right">
                <button class="full-width  mb-1 mat-raised-button" style="background-color: #9dbcca" mat-raised-button
                        (click)="saveFishingPage()">
                  <span class="mat-button-wrapper" style="color: white">{{ 'fishing_page.save' | translate}}</span>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  <!--</md-card>-->
</div>
