<div align="center">
  <label headerRowPlaceholder="value" style="font-family: story_font;" (click)="clearValue()">{{result}}</label>
  <hr>
  <table align="center" width="195px" cellspacing="5" cellpadding="10">
    <tr role="row">
      <td class="num-button-content" (click)="setResult('1')">
        <div>1</div>
      </td>
      <td class="num-button-content" (click)="setResult('2')">
        <div>2</div>
      </td>
      <td class="num-button-content" (click)="setResult('3')">
        <div>3</div>
      </td>
    </tr>
    <tr role="row">
      <td class="num-button-content" (click)="setResult('4')">
        <div>4</div>
      </td>
      <td class="num-button-content" (click)="setResult('5')">
        <div>5</div>
      </td>
      <td class="num-button-content" (click)="setResult('6')">
        <div>6</div>
      </td>
    </tr>
    <tr role="row">
      <td class="num-button-content" (click)="setResult('7')">
        <div>7</div>
      </td>
      <td class="num-button-content" (click)="setResult('8')">
        <div>8</div>
      </td>
      <td class="num-button-content" (click)="setResult('9')">
        <div>9</div>
      </td>
    </tr>
    <tr role="row">
      <td class="num-button-content" (click)="setResult('.')">
        <div>,</div>
      </td>
      <td class="num-button-content" (click)="setResult('0')">
        <div>0</div>
      </td>
      <td class="num-button-content" (click)="resultComplete()">
        <div>ok</div>
      </td>
    </tr>
  </table>
</div>
